@model IEnumerable<starter_app.Models.Event>
@{
    ViewBag.Title = "Event Page";
}

<main>
    <ul>
        @foreach(var item in Model)
            {
                <li>@item.DateTime - @item.Artist.Name</li>
            }
    </ul>
</main>